* { 
    font-family: sans-serif;
    padding: 5px;
}

body {
    background-color: lightgray;
}

#navBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

#navLink {
    background-color: darkgray;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#navLink:hover {
    background-color: white;
}

header {
    background-color: navy;
    color: lightgray;
    font-size: 2em;
    padding: 1em;
    border-radius: 5px;
}

.selected {
    background-color: lightblue !important;
}

h1 {
    font-family: sans-serif;
    font-weight: bold !important;
    filter: drop-shadow(5px 5px 2px #4444dd);
}

section {
    border-bottom: 1px dashed gray;
}

#totContainer {
    display: flex;
    flex-direction: row;
}

#formSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#content {
    border-bottom: none !important;
}

.noBorder {
    border: none !important;
}

a {
    text-decoration: none;
    color: black;
}

input[type=text] {
    width: 20em;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: navy;
    border: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

img {
    width: 10em;
}

#imgDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#imageGirl {
    align-self: flex-end;
}